@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix';

/**
 * Bootstrap overrides
 */

.page-header {
  margin-top: 0;
}

.help-block .list-inline {
  margin-bottom: 0;
}

/**
 * Common
 */

.cb-last {
  margin-bottom: 0;
}

.cb-info-list {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  li {
    display: inline;

    & + li:before {
      content: ' · ';
    }
  }
}

.cb-ingredient-list {
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }

  .cb-sortable-handle {
    cursor: pointer;
  }
}

/**
 * react-autosuggest
 */

.react-autosuggest__container {
  position: relative;
  @include clearfix;
}

.react-autosuggest__suggestions-container {
  display: none;
  position: absolute;
  top: 100%;
  max-height: 268px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 2px;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  background-color: white;
  z-index: 100;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  margin: 0;
  padding: 2px 0;
}

.react-autosuggest__suggestion {
  padding: 3px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #f5f5f5;
  cursor: pointer;
}
