{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "> 5%", "safari >= 7"]
      },
      "useBuiltIns": true
    }],
    "react",
    "stage-1"
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
