.info {
  margin-bottom: 20px;
}

.image-link {
  float: right;
  position: relative;
  z-index: 2;
}

.image {
  width: 200px;
  height: 200px;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.image-xs {
  width: 100%;
  border-radius: 4px;
  margin-top: 15px;
}
