version: "3.2"

services:
  db:
    image: mongo:4.4
    restart: always
    networks:
      - cookbook-api
    volumes:
      - type: volume
        source: dbdata
        target: /data/db

  api:
    image: "${API_IMAGE}"
    restart: always
    depends_on:
      - db
    networks:
      - cookbook-api
      - web
    volumes:
      - type: volume
        source: imgcache
        target: /tmp/zradelnik-img
      - type: bind
        source: ./zradelnik-firebase-adminsdk.json
        target: /srv/zradelnik-firebase-adminsdk.json
    environment:
      VIRTUAL_HOST: "${API_HOST}"
      LETSENCRYPT_HOST: "${API_HOST}"
      LETSENCRYPT_EMAIL: "${LETSENCRYPT_EMAIL}"
      MONGO_URI: mongodb://db/cookbook
      JWT_SECRET: "${JWT_SECRET}"
      OPENAI_API_KEY: "${OPENAI_API_KEY}"
      APOLLO_EXPLORER_ENABLED: "${APOLLO_EXPLORER_ENABLED}"
      NEW_RECIPES_TOPIC: "${NEW_RECIPES_TOPIC}"
      FIREBASE_ADMIN_SDK_PATH: /srv/zradelnik-firebase-adminsdk.json

  web:
    image: "${WEB_IMAGE}"
    restart: always
    depends_on:
      - api
    networks:
      - web
    environment:
      VIRTUAL_HOST: "${WEB_HOST}"
      LETSENCRYPT_HOST: "${WEB_HOST}"
      LETSENCRYPT_EMAIL: "${LETSENCRYPT_EMAIL}"
      API_URL: "https://${API_HOST}"

networks:
  cookbook-api:
  web:
    external: true

volumes:
  dbdata:
  imgcache:
