$spacing: 15px;
$border-color: #f0f0f0;
$border-radius: 4px;

.box {
  display: block;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0 12px 2px $border-color;
  margin-bottom: ($spacing * 2);
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 12px 2px darken($border-color, 10%);
    text-decoration: none;
  }
}

.box-inner {
  padding: $spacing;
}

.image {
  height: 200px;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.title {
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  margin-top: 1em;
  color: #777;
}
