@reference "../../app/globals.css";

.rich-text ol {
  @apply list-none pl-0 mb-6 mt-0;
  counter-reset: step-counter;
}

.rich-text ol:last-child {
  @apply mb-0;
}

.rich-text ol li {
  @apply relative pl-12 leading-6;
  counter-increment: step-counter;
}

.rich-text ol li + li {
  @apply mt-4;
}

.rich-text ol li::before {
  @apply absolute left-0 -top-1 w-8 h-8 leading-8 text-center rounded-full bg-primary text-primary-foreground;
  content: counter(step-counter);
}

.rich-text h1 {
  @apply text-xl font-bold mb-6;
}

.rich-text h2 {
  @apply text-lg font-semibold mb-4;
}
.rich-text h3 {
  @apply text-sm font-semibold mb-3;
}

.rich-text p {
  @apply mb-4;
}

.rich-text p:last-child {
  @apply mb-0;
}
