.header {
  display: flex;
  align-items: center;
  height: 60px;
}

.logo {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  white-space: nowrap;
}

.logo a,
.logo a:hover {
  color: #000;
  text-decoration: none;
}

.icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .logo {
    flex: 1 1;
  }

  .search {
    display: none;
  }
}

@media (min-width: 768px) {
  .search {
    flex: 1 1;
    padding: 0 30px;
  }

  .search :global .react-autosuggest__container {
    max-width: 400px;
    margin: 0 auto;
  }
}

.user-info {
  text-align: right;
}
