@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

$cb-border-color: #eee;
$cb-spacing: 15px;
$cb-height: 80px;

.cb-recipes {
  .recipe-container {
    margin-bottom: $cb-spacing;
  }

  .recipe {
    display: block;
    height: $cb-height;
    border: 1px solid $cb-border-color;
    border-radius: $border-radius-base;
    box-shadow: 1px 1px 2px $cb-border-color;
    padding: $cb-spacing;
    text-decoration: none;

    &:hover {
      border-color: darken($cb-border-color, 20%);
      box-shadow: 1px 1px 2px darken($cb-border-color, 20%);
    }

    h4 {
      margin-top: 0;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
