@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

$cb-recipe-spacing: 15px;
$cb-recipe-border-color: #f0f0f0;

.cb-recipes {
  .recipe {
    display: block;
    border: 1px solid $cb-recipe-border-color;
    border-radius: 2px;
    box-shadow: 0 0 12px 2px $cb-recipe-border-color;
    margin-bottom: ($cb-recipe-spacing * 2);
    padding: $cb-recipe-spacing;
    text-decoration: none;

    &:hover {
      box-shadow: 0 0 12px 2px darken($cb-recipe-border-color, 10%);
    }

    h4 {
      margin: 0;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cb-info-list {
      margin-top: 1em;
    }
  }
}
